# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Terraform lock file
# Keep this file if you want reproducible provider versions
# *.terraform.lock.hcl

# Java
target/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db